.o_field_status_with_color button.disabled {
    color: black;
}

.o_status_align {
    width: 1.28571429em;
    text-align: center;
  }

.o_list_renderer{
    .o_field_project_task_state_selection{
        .o_dropdown-item{
            display: inline-block;
        }
    }
}