// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_EmojiSearch {
    background-color: red;
    display: flex;
    overflow: auto;
    justify-content: space-between;
}